.Stop {
  position: absolute;
  top: 20%;
  left: 45%;
  background-color: #0015ff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  max-height: 60vh;
  width: 10vw;
  overflow: scroll;
}
.StopInfo {
  position: relative;
  top: 0%;
  left: 0%;
  border: 10px solid #ffffff;
  background-color: #0015ff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin: 4px 2px;
}


.SearchStop {
  position: absolute;
  top: 15%;
  left: 42%;
  background-color: #0015ff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.SearchStopArrival {
  position: absolute;
  top: 25%;
  left: 39%;
  background-color: #0015ff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.StopPage {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.MainLinks {
  position: absolute;
  top: 2%;
  left: 0%;
  height: 10vh;
  background-color: #0015ff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: left;
  text-decoration: none;
  align-self: center;
  align-items: center;
  justify-content: center;
  display: inline-block;
  font-size: 16px;
  margin: 5px 2px;
  cursor: pointer;
}
.MainTitle {
  position: absolute;
  width: 70%;
  height: 10vh;
  top: 2%;
  left: 15%;
  background-color: #0015ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
}
.Link{

  background-color: #0015ff;
  margin: 8px ;
  width: 100%;
  color: white;
  border: 1px solid #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.ArrivalsContainer{
  position: absolute;
  max-height: 50vh;
  height: 40vh;
  width: 16vw;
  overflow: scroll;
  top: 25%;
  left: 42%;
  background-color: #ffffff;
}
.LoginForm{
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: #0015ff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}